@model IEnumerable<Author>

<div class="selectBox-cont">
	@foreach (var item in Model)
	{
		<label class="custom_check w-100">
			<input type="checkbox" name="authorId" value="@item.AuthorID" @(ViewBag.SelectedAuthorId.Contains(item.AuthorID) ? "checked" : "")>
            <span class="checkmark"></span> @item.Name 
		</label>
	}
</div>